<div class="table-container">
  <table class="meal-table">
    <thead>
    <tr>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.last_name }}</td>
      <td>{{ user.first_name }}</td>
      <td>{{user.email}}</td>
      <td>
        <button mat-icon-button color="warn" (click)="deleteUser(user.id)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </tr>
    </tbody>
  </table>
</div>



