<div class="table-container add-product-container">
  <h2>Ajouter une Recette</h2>
  <form (ngSubmit)="addService()" #serviceForm="ngForm" class="product-form">
    <div class="form-group">
      <label for="title" class="label">Nom :</label>
      <input type="text" id="title" name="title" [(ngModel)]="service.title" required class="input-field">
    </div>

    <div class="form-group">
      <label for="description" class="label">Description :</label>
      <textarea id="description" name="description" [(ngModel)]="service.description" required class="input-field"></textarea>
    </div>

    <div class="form-group">
      <label for="price" class="label">Prix :</label>
      <input type="number" id="price" name="price" [(ngModel)]="service.price" required class="input-field">
    </div>

    <div class="form-group">
      <label for="place" class="label">Lieu :</label>
      <input type="text" id="place" name="place" [(ngModel)]="service.place" required class="input-field">
    </div>

    <div class="form-group">
      <label for="number_of_person" class="label">Nombre de Personnes :</label>
      <input type="number" id="number_of_person" name="number_of_person" [(ngModel)]="service.number_of_person" required class="input-field">
    </div>

    <div class="form-group">
      <label for="start_date" class="label">Date de Debut :</label>
      <input type="datetime-local" id="start_date" name="start_date" [(ngModel)]="service.start_date" required class="input-field">
    </div>

    <button type="submit" class="submit-button">Ajouter</button>
  </form>
</div>
