<div class="table-container add-product-container">
<h2>Ajouter un Repas</h2>
<form (ngSubmit)="addMeal()" #mealForm="ngForm" class="product-form">
  <div class="form-group">
    <label for="name" class="label">Nom :</label>
    <input type="text" id="name" name="name" [(ngModel)]="meal.name" required class="input-field">
  </div>

  <div class="form-group">
    <label for="description" class="label">Description :</label>
    <textarea id="description" name="description" [(ngModel)]="meal.description" required class="input-field"></textarea>
  </div>

  <div class="form-group">
    <label for="price" class="label">Prix :</label>
    <input type="number" id="price" name="price" [(ngModel)]="meal.price" required class="input-field">
  </div>

  <button type="submit" class="submit-button">Ajouter</button>
</form>
</div>
